<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension point="net.jazz.ajax.webBundles">
       <alias value="com.siemens.bt.jazz.rtc.workItemEditor.presentation.roles"/>
    </extension>

   <extension point="net.jazz.ajax.cssBindingSets">
      <cssBindingSet 
            id="com.siemens.bt.jazz.rtc.workItemEditor.presentation.roles.ui.CSSBindingSet"
            path="/ui/templates">
         <cssBinding jsModule="com.siemens.bt.jazz.rtc.workItemEditor.presentation.roles.ui.Presentation">
            <cssModule path="/Presentation.css"/>
         </cssBinding>
      </cssBindingSet>
   </extension>
   
   <extension
         id="com.siemens.bt.jazz.rtc.workitem.roles"
         name="Roles"
         point="com.ibm.team.workitem.service.editorPresentations">
      <editorPresentation
            id="com.siemens.bt.jazz.rtc.workItemEditor.presentation.roles"
            needsAttribute="false"
            widget="com.siemens.bt.jazz.rtc.workItemEditor.presentation.roles.ui.Presentation">
      </editorPresentation>
   </extension>
</plugin>
