.my-role-presentation.conflict {
	color: red;
	font-weight: bold;
}

.my-role-presentation a {
	text-decoration: none;
	color: #0F62FE;
	cursor: pointer;
}

.my-role-presentation .orange {
	color: orange;
	font-weight: bold;
}

.my-role-presentation .reset {
	float: right;
}

.my-role-presentation .sprite-image{
	margin-bottom: -3px;
}

.my-role-actions-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
}

.my-role-actions-container a:hover {
	color: #043ea9;
}

.my-role-actions-container a {
	display: grid;
	grid-template-columns: 24px auto;
	align-items: center;
}

.my-role-actions-container > a > img {
	vertical-align: middle;
	width: 16px;
	height: auto;
	max-height: 16px;
}

.my-role-actions-container a:nth-child(2n) {
	/*
	text-align: right;
	*/
}
